<head>
    <title>Frontmatters</title>
    <link href="/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRaleway:100"
rel="stylesheet">
    <link rel="stylesheet"
href="fonts/fontawesome-free-5.6.3-web/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>